# Ignore node_modules directory
node_modules/



# Ignore compiled Sass files
src/**/*.scssc

# Ignore example build output
example/build/

# Ignore IDE files
.vscode/
.idea/

# Ignore log files
log/

# Ignore npm package-lock files
package-lock.json
yarn.lock

# Ignore DS_Store files (used by Mac)
.DS_Store

# Ignore npm-debug.log files
npm-debug.log
