// Color Variables
$white: #ffffff;
$black: #000000;

// Gray Shades
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

// Red Shades
$red-100: #ffebee;
$red-200: #ffcdd2;
$red-300: #ef9a9a;
$red-400: #e57373;
$red-500: #f44336;
$red-600: #e53935;
$red-700: #d32f2f;
$red-800: #c62828;
$red-900: #b71c1c;

// Yellow Shades
$yellow-100: #fff9c4;
$yellow-200: #fff59d;
$yellow-300: #fff176;
$yellow-400: #ffee58;
$yellow-500: #ffeb3b;
$yellow-600: #fdd835;
$yellow-700: #fbc02d;
$yellow-800: #f9a825;
$yellow-900: #f57f17;

// Green Shades
$green-100: #e8f5e9;
$green-200: #c8e6c9;
$green-300: #a5d6a7;
$green-400: #81c784;
$green-500: #4caf50;
$green-600: #43a047;
$green-700: #388e3c;
$green-800: #2e7d32;
$green-900: #1b5e20;

// Blue Shades
$blue-100: #e3f2fd;
$blue-200: #bbdefb;
$blue-300: #90caf9;
$blue-400: #64b5f6;
$blue-500: #2196f3;
$blue-600: #1e88e5;
$blue-700: #1976d2;
$blue-800: #1565c0;
$blue-900: #0d47a1;

// Indigo Shades
$indigo-100: #e8eaf6;
$indigo-200: #c5cae9;
$indigo-300: #9fa8da;
$indigo-400: #7986cb;
$indigo-500: #3f51b5;
$indigo-600: #3949ab;
$indigo-700: #303f9f;
$indigo-800: #283593;
$indigo-900: #1a237e;

// Purple Shades
$purple-100: #f3e5f5;
$purple-200: #e1bee7;
$purple-300: #ce93d8;
$purple-400: #ba68c8;
$purple-500: #9c27b0;
$purple-600: #8e24aa;
$purple-700: #7b1fa2;
$purple-800: #6a1b9a;
$purple-900: #4a148c;

// Pink Shades
$pink-100: #fce4ec;
$pink-200: #f8bbd0;
$pink-300: #f48fb1;
$pink-400: #f06292;
$pink-500: #e91e63;
$pink-600: #d81b60;
$pink-700: #c2185b;
$pink-800: #ad1457;
$pink-900: #880e4f;

// Buttons Styles
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid transparent;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;

  &:hover {
    border-color: $blue-500; // Par exemple, changez cette couleur selon vos besoins
  }
}

// Primary Button
.button-primary {
  background-color: $blue-500;
  color: $white;

  &:hover {
    background-color: darken($blue-500, 10%);
  }
}

// Secondary Button
.button-secondary {
  background-color: $gray-300;
  color: $black;

  &:hover {
    background-color: lighten($gray-300, 10%);
  }
}

// Danger Button
.button-danger {
  background-color: $red-500;
  color: $white;

  &:hover {
    background-color: darken($red-500, 10%);
  }
}

// Success Button
.button-success {
  background-color: $green-500;
  color: $white;
  &:hover {
    background-color: darken($green-500, 10%);
  }
}

// Warning Button
.button-warning {
  background-color: $yellow-500;
  color: $white;
  &:hover {
    background-color: darken($yellow-500, 10%);
  }
}

// Info Button
.button-info {
  background-color: $blue-500;
  color: $white;
  &:hover {
    background-color: darken($blue-500, 10%);
  }
}



// Black Button
.button-black {
  background-color: $black;
  color: $white;
  &:hover {
    background-color: darken($black, 10%);
  }
}

// White Button
.button-white {
  background-color: $white;
  color: $black;
  &:hover {
    background-color: darken($white, 10%);
  }
}

// Grey Button
.button-grey {
  background-color: $gray-500;
  color: $white;
  &:hover {
    background-color: darken($gray-500, 10%);
  }
}

// Orange Button
.button-orange {
  background-color: $orange-500;
  color: $white;
  &:hover {
    background-color: darken($orange-500, 10%);
  }
}

// Gray Button
.button-gray {
  background-color: $gray-500;
  color: $white;
  &:hover {
    background-color: darken($gray-500, 10%);
  }
}

// Blue Button
.button-blue {
  background-color: $blue-500;
  color: $white;
  &:hover {
    background-color: darken($blue-500, 10%);
  }
}