// _reset.scss

// Resetting default browser styles
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

// Resetting specific styles for certain tags
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

// HTML5 font element with default font style
mark {
  background-color: transparent;
  color: inherit;
}

// Resetting styles for form elements
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

// Resetting styles for form elements in Safari / Chrome
button,
input {
  overflow: visible;
}

// Resetting styles for form elements in IE 11
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

// Resetting styles for list elements
ul,
ol {
  list-style: none;
}

// Resetting styles for table elements
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Resetting styles for blockquote elements
blockquote {
  quotes: none;
}

// Resetting styles for blockquote elements after quote passage
blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

// Resetting styles for q and cite elements
q:before,
q:after,
cite:before,
cite:after {
  content: '';
  content: none;
}

// Resetting styles for audio and video elements
audio,
video {
  display: inline-block;
  vertical-align: baseline;
}

// Resetting styles for audio and video elements in IE 11
audio:not([controls]) {
  display: none;
  height: 0;
}

// Resetting styles for details elements
details {
  display: block;
}

// Resetting styles for mark and revisions elements
mark {
  background-color: #ff0;
  color: #000;
}

// Resetting styles for s (strikethrough) text element
s {
  text-decoration: line-through;
}

// Resetting styles for u (underline) text element
u {
  text-decoration: underline;
}

// Resetting styles for a (anchor/link) text element
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
